@using BlazorSaleOrderApp.Shared.Dto.Common
@using System.ComponentModel
@using System.Globalization

<span>@Title</span>
<select class="form-control" @onchange="@OnSelectionChanged">
     <option value="0">--Select--</option>
    @foreach (var item in Items)
    {
        <option value="@item.Id"> @item.Name </option>
    }
</select>

@code {
    [Parameter]
    public List<SelectModel> Items { get; set; }

    [Parameter]
    public int SelectedItem { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public EventCallback<int> SelectedItemChanged { get; set; }

    private async Task OnSelectionChanged(ChangeEventArgs e)
    {
        int.TryParse(e.Value.ToString(), out int selectedItemId);
        SelectedItem = selectedItemId;
        await SelectedItemChanged.InvokeAsync(SelectedItem);
    }
}